<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../fontawesome-5.15.3/css/all.css">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/login.css">
  <title>Login</title>
</head>

<body>
  <div class="fundo">
  <div class="caixa">
    <form class="formulario" th:action="@{/login}"method="POST">
      <h2  class="titulo-login">LOGIN</h2>
    <div class="usuario-login">
      <label for="floatingInput">Usuário</label>
      <input type="text" name="username" class="form-control linha" id="floatingInput" placeholder="Usuário" required>
    </div>

    <div class="senha-login">
      <label for="floatingPassword">Senha</label>
      <input type="password" name="password" class="form-control linha" id="floatingPassword" placeholder="Senha" required>
    </div>
    <div class="cadastro">
      Não tem conta?<a href="/cadastro">Cadastre-se</a>
    </div>
    <div class="divButton" >
      <button type="submit" class="button">Logar</button>
    </div>
    </form>
  </div>
</div>

<script src="./js/poppers.min.js"></script>
<script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>

</html>