<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../fontawesome-5.15.3/css/all.css">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/estilo.css">
  <title>NewEvent</title>
</head>

<body>


<form style="width: 500px; margin: auto; margin-top: 50px"
      class="form-login" th:action="@{/login}"method="POST">
  <div class="form-floating mb-3">
    <input type="text"  class="form-control" id="floatingInputNome" placeholder="nome">
    <label for="floatingInputNome">Nome</label>
  </div>
  <div class="form-floating mb-3">
    <button type="submit" class="btn btn-success">Logar</button>
  </div>
</form>


<script src="./js/poppers.min.js"></script>
<script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>

</html>